:root {
    --section-padding: 120px;
}

* {
    margin: 0;
        padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 10000px;
    font-size: 17px;
}

ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}
.section-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}

.section-description {
    width: 90%;
    line-height: 1.7;
    margin: auto;
    text-align: center;
    color: #888;
}
/* Start Hero section  */
.hero-area {
    width: 100%;
    height: 100vh;
    position: relative;
}
/* Start Header SEction  */
.header-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 1s;
    z-index: 100 ;
}
@media (max-width: 992px) {
    .header-section {
        background-color: white;
    }
}
.header-section.scrolling-mode {
    box-shadow: 0 0 20px #2c2c2c4d;
    background-color: white;
}

.header-section .header-content  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 54px 15px 20px;
    transition: 0.3s;
    position: relative;
}
.scrolling-mode .header-content {
    padding: 20px 15px;
}

@media (min-width: 992px) {
    .header-section:not(.scrolling-mode) .header-content .logo {
        margin-left: auto;
    }
}
.header-section .header-content .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-section .header-content .logo img {
    width: 143px;
}
.header-section .header-content .links {
    margin-left: 3rem;
}
@media (max-width: 992px) {
    .header-content .links {
        order: -1;
    }
}
@media (max-width: 1200px) {
    .header-section .header-content .links {
        margin-left: 1rem;
    }
}
.header-content .links .toggle-btn {
    display: none;
    font-size: 29px;
    color: black;
    align-items: center;
    line-height: 30px;
    transition: 0.5s;
}
.header-content .links .toggle-btn:hover {
    color: #478;
}
@media (max-width: 992px) {
    .header-content .links .toggle-btn {
        display: block;
    }
}
.header-section .header-content .links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 18px;
    list-style: none;
}
@media (max-width: 992px) {
    .header-section .header-content .links ul {
        position: absolute;
        left: -120%;
        top: 100%;
        flex-direction: column;
        gap: 0.35rem;
        width: 290px;
        background: #f5f5f5;
        padding: 20px 0;
        align-items: start;
        transition: 0.3s;
        height: 100vh;
        justify-content: normal;
        box-shadow: -6px 18px 20px 2px #00000061;
        z-index: 70;
    }

    .header-content .links ul.active {
        left: -20px;
    }
}
.header-section .header-content .links li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: 0.5s;
    padding: 5px;
    position: relative;
}
@media (min-width: 992px) {
    .header-section .header-content .links li a::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 0%;
        background: #489;
        height: 4px;
        transition: 0.5s;
    }

    .header-section .header-content .links li a:hover,
    .header-section .header-content .links li a.active {
        color: #489;
    }

    .header-section .header-content .links li a:hover::before,
    .header-section .header-content .links li a.active::before {
        width: 100%;
    }

}
@media (max-width: 992px){
    .header-section .header-content .links ul li {
        width: 100%;
    }
    .header-section .header-content .links ul li a {
        width: 100%;
        display: block;
        padding: 20px 25px;
    }
    .header-section .header-content .links ul li a:hover {
        background-color: rgba(68, 136, 153, 0.493);
    }
    .header-section .header-content .links ul li a.active {
        background: #489;
                color: white;
    }
}
.header-content .social-links {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.35rem;
    font-size: 24px;
}
@media (max-width: 1200px) {
    .header-content .social-links {
        margin-left: 1rem;
    }
}
.header-content .social-links a {
    color: black;
    transition: 0.5s;
}
.header-content .social-links a:hover {
    color: #489;
    transform: scale(1.1);
}
@media (max-width: 992px) {
    .header-section {
        box-shadow: 0 0 20px #d4c5e2;
    }
    .header-section .header-content {
        gap: 1rem;
        justify-content: normal;
        padding: 20px 15px;
    }
    .header-section .header-content .logo,
    .header-section .header-content .links {
        margin:  0;
    }
    .header-section .header-content .social-links  {
        margin-left: auto;
    }
}
/* End header section  */
.landing-section {
    min-height: 85vh;
    position: relative;
}
.landing-section::before{
    content: "";
    width: 30vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #3296b0;
    z-index: -1;
}

@media (max-width: 992px) {
    .landing-section::before {
        display: none;
    }
}
.landing-content .row {
    padding-top: 200px;
    padding-bottom: 50px;
}
@media (max-width: 992px) {
    .landing-content .row {
        padding-top: 100px;
    }
}@media (max-width: 567px) {
    .landing-content .row {
        padding-top: 60px;
    }
}
.landing-content .row .home-imgs .home-img {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
@media (max-width: 578px) {
    .landing-content .row .home-imgs .home-img {
        height: 350px;
    }
}
.landing-content .row .home-img img {
    width: 100%;
    order: -1;
    transition: 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200%, -50%);
}

.landing-content .row .home-imgs .home-img img.active {
    transform: translate(-50%, -50%);
}
@media (max-width: 992px){
    .landing-content .row .home-img img {
        width: 80%;
    }
    .landing-content .row .home-imgs .home-img img.active {
        transform: translate(-50%, -40%);
    }
}
@media (max-width: 578px) {
    .landing-content .row .home-img img {
        width: 100%;
    }
}
.landing-section .row .drone-info .item {
    padding: 10px;
    display: none;
}
.landing-content .row .drone-info .item.active {
    display: block;
}
.landing-content .row .drone-info .item h2 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.landing-content .row .drone-info .item p {
    width: 80%;
    font-size: 18px;
    color: #888;
    line-height: 1.7;
    }
.landing-content .row .drone-info .moving-btn {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 20px 10px;
    margin-top: 1.5rem;
}
@media (max-width: 992px) {
    .landing-content .row .drone-info .moving-btn {
        margin-top: 0rem;
    }
}
.landing-content .row .drone-info .moving-btn span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: 2px solid #489;
    border: 2px solid white;
    background-color: transparent;
    transition: 0.5s;
}
.landing-content .row .drone-info .moving-btn span.active,
.landing-content .row .drone-info .moving-btn span:hover {
    background-color:  #489;
}
/* End Heor Section */
/* Start Feature Section  */
.feature-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}


.feature-content .row>div {
    padding-top: 20px;
    padding-bottom: 20px;
}

.feature-content .row .content {
    padding: 20px 20px;
    box-shadow: 0 0 16px #0000002e;
    border-radius: 20px;
}
.feature-content .row .content .img {
    display: block;
    text-align: center;
    font-size: 60px;
    margin-bottom: 1rem;
    color: #489;
}
.feature-content .row>div h5 {
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
}

/* End Feature Section  */

/* STart drone-detail-section  */
.drone-detail-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #0f95b6;
}

.drone-detail-section .container {
    padding: 0;
}

.drone-detail-section .slider-container {
    overflow: hidden;
}

.silder-wrapper {
    width: 100%;
    height: 100%;
}

.drone-detail-section .slider-title {
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: white;
}

.drone-detail-section .slider-description {
    font-size: 16px;
    line-height: 1.7;
    width: 90%;
    text-align: center;
    color: #eee;
    margin-bottom: 3rem;
    margin-left: auto;margin-right: auto;
}

.drone-detail-section .row .img img {
    width: 100%;
}
.drone-detail-section .row .list-product {
    padding: 0 20px;
}
.drone-detail-section .row .list-product-item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    color: white;
    padding: 8px 0;
}

.drone-detail-section .row .list-product-item .list-product-title {
    min-width: 150px;
    font-weight: bold;
    font-size: 18px;
}

.swiper-button-next,
.swiper-button-prev {
    svg {
        color: white;
    }
}
.swiper-navigation-icon {
    display: none;
}
/* End drone-detail-section  */
/* STart accessories section  */
.accessories-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}


.accessories-content .row>div {
    padding: 25px 15px;
}
.accessories-content .row>div>div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 15px;
    box-shadow: 0 0 20px #00000029;
    border-radius: 10px;
}

.accessories-content .row .img {
    margin-bottom: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accessories-content .row .img img {
    width: 100%;
    transition: 0.5s;
}

.accessories-content .row >div:hover .img img {
    transform: scale(1.1);
}
.accessories-content .row a {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 1rem;
    color: black;
    transition: 0.5s;
}

.accessories-content .row a:hover {
    color: #489;
}

.accessories-content .row span {
    display: block;
    color: #489;
}
/* end accssories section */

.section-md {
    background: #489;
    padding: 90px 0;
    color: white;
}

@media (max-width: 992px) {
    .section-md {
        padding: 60px 0;
    }
}

.section-content .row>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    svg {
        transform: rotate(45deg);
    }

    p {
        margin: 0;
        font-size: 17px;
        font-weight: 500;
    }
}

.section-content .row>div form {
    width: 100%;
    padding: 0 10px;
    position: relative;
    margin: auto;

    input {
        width: 100%;
        padding: 15px 15px;
        border-radius: 25px;
        outline: none;
        border: none;
        font-weight: 600;
    }

    button {
        position: absolute;
        right: 11px;
        top: 0;
        width: fit-content;
        height: 55px;
        width: 55px;
        border-radius: 50%;
        background: #489;
        border: 3px solid white;
        color: white;
        font-size: 25px;
        transition: 0.5s;

        svg {
            transform: rotate(0);
        }
    }

    button:hover {
        background-color: rgb(34, 69, 78);
    }
}

.gallery-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

    .gallery-content .row>div {
        background-position: center;
        background-size: cover;
        height: 250px;
        padding: 0;
    }

    .gallery-content .row {
        >div:nth-child(1) {
            background-image: url('../images/gallary1.jpg');
        }

        >div:nth-child(2) {
            background-image: url('../images/gallary2.jpg');
        }

        >div:nth-child(3) {
            background-image: url('../images/gallary3.jpg');
        }

        >div:nth-child(4) {
            background-image: url('../images/gallary4.jpg');
        }

        a {
            width: 100%;
            height: 100%;
            background-color: #3196b099;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 60px;
            z-index: -1;
            opacity: 0;
            transition: 0.5s;
        }

        >div:hover a {
            z-index: 1;
            opacity: 1;
        }
    }

}

.full-img-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #101d1fe6;
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
}

.full-img-view.active {
    opacity: 1;
    z-index: 120;
    ;
}

.full-img-view img {
    transition: 0.5s;
    transform: scale(0);
    width: 90%;
}

.full-img-view.active img {
    transform: scale(1);
}

.full-img-view .close-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 50px;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.full-img-view .close-btn:hover {
    color: #489;
}

.testimonial-section {
    position: relative;
    padding: 50px 0;
    background: #eeeeee57;
}

.testimonial-section::before {
    content: "";
    position: absolute;
    width: 35%;
    height: 100%;
    background: #15758d;
    top: 0;
    left: 0;
}

@media (max-width: 768px) {
    .testimonial-section::before {
        display: none;
    }
}
        
                                .testimonial-section .swiper-slide {
                                    padding: 60px 0;
                
                                    .row img {
                                        margin-left: auto;
                                        display: block;
                                        border-radius: 50%;
                                        margin-right: 2rem;
                
                                    }
                
                                    @media (max-width: 768px) {
                                        .row img {
                                            margin: 0;
                                            margin-bottom: 1rem;
                                        }
                                    }
                
                                    .user-name {
                                        font-weight: 700;
                                        margin-bottom: 1rem;
                                        display: block;
                                    }
                
                                    p {
                                        line-height: 1.8;
                                        color: #888;
                                    }
                
                                    .user-site a {
                                        font-weight: 900;
                                        text-decoration: none;
                                        margin-bottom: 1rem;
                                        display: block;
                                        color: black;
                                        transition: 0.5s;
                                    }
                
                                    .user-site a:hover {
                                        color: #499;
                                    }
                                }
                
                                .swiper-pagination-bullet {
                                    opacity: 1;
                                    width: 20px !important;
                                    height: 20px !important;
                                    background-origin: transparent !important;
                                    transition: 0.5s;
                                }
                
                                .swiper-pagination-bullet:hover {
                                    opacity: 1;
                                    background-color: #489;
                                }
                
                                .social-menu {
                                    display: flex;
                                    align-items: center;
                                    justify-content: start;
                                    gap: 0.5rem;
                                }
                
                                .social-menu a {
                                    width: 30px;
                                    height: 30px;
                                    background-color: black;
                                    color: white;
                                    text-decoration: none;
                                    text-align: center;
                                    line-height: 30px;
                                    border-radius: 50%;
                                    transition: 0.5s;
                                }
                
                                .social-menu a:hover {
                                    background-color: #489;
                                }
                