:root {
    --section-padding: 120px;
}

* {
    margin: 0;
        padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 10000px;
    font-size: 17px;
}

ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

/* Start Hero section  */
.hero-area {
    width: 100%;
    height: 100vh;
    position: relative;
}
/* Start Header SEction  */
.header-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 1s;
    z-index: 100 ;
}
@media (max-width: 992px) {
    .header-section {
        background-color: white;
    }
}
.header-section.scrolling-mode {
    box-shadow: 0 0 20px #2c2c2c4d;
    background-color: white;
}

.header-section .header-content  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 54px 15px 20px;
    transition: 0.3s;
    position: relative;
}
.scrolling-mode .header-content {
    padding: 20px 15px;
}

@media (min-width: 992px) {
    .header-section:not(.scrolling-mode) .header-content .logo {
        margin-left: auto;
    }
}
.header-section .header-content .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-section .header-content .logo img {
    width: 143px;
}
.header-section .header-content .links {
    margin-left: 3rem;
}
@media (max-width: 992px) {
    .header-content .links {
        order: -1;
    }
}
@media (max-width: 1200px) {
    .header-section .header-content .links {
        margin-left: 1rem;
    }
}
.header-content .links .toggle-btn {
    display: none;
    font-size: 29px;
    color: black;
    align-items: center;
    line-height: 30px;
    transition: 0.5s;
}
.header-content .links .toggle-btn:hover {
    color: #478;
}
@media (max-width: 992px) {
    .header-content .links .toggle-btn {
        display: block;
    }
}
.header-section .header-content .links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 18px;
    list-style: none;
}
@media (max-width: 992px) {
    .header-section .header-content .links ul {
        position: absolute;
        left: -120%;
        top: 100%;
        flex-direction: column;
        gap: 0.35rem;
        width: 290px;
        background: #f5f5f5;
        padding: 20px 0;
        align-items: start;
        transition: 0.3s;
        height: 100vh;
        justify-content: normal;
        box-shadow: -6px 18px 20px 2px #00000061;
        z-index: 70;
    }

    .header-content .links ul.active {
        left: -20px;
    }
}
.header-section .header-content .links li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: 0.5s;
    padding: 5px;
    position: relative;
}
@media (min-width: 992px) {
    .header-section .header-content .links li a::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 0%;
        background: #489;
        height: 4px;
        transition: 0.5s;
    }

    .header-section .header-content .links li a:hover,
    .header-section .header-content .links li a.active {
        color: #489;
    }

    .header-section .header-content .links li a:hover::before,
    .header-section .header-content .links li a.active::before {
        width: 100%;
    }

}
@media (max-width: 992px){
    .header-section .header-content .links ul li {
        width: 100%;
    }
    .header-section .header-content .links ul li a {
        width: 100%;
        display: block;
        padding: 20px 25px;
    }
    .header-section .header-content .links ul li a:hover {
        background-color: rgba(68, 136, 153, 0.493);
    }
    .header-section .header-content .links ul li a.active {
        background: #489;
                color: white;
    }
}
.header-content .social-links {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.35rem;
    font-size: 24px;
}
@media (max-width: 1200px) {
    .header-content .social-links {
        margin-left: 1rem;
    }
}
.header-content .social-links a {
    color: black;
    transition: 0.5s;
}
.header-content .social-links a:hover {
    color: #489;
    transform: scale(1.1);
}
@media (max-width: 992px) {
    .header-section {
        box-shadow: 0 0 20px #d4c5e2;
    }
    .header-section .header-content {
        gap: 1rem;
        justify-content: normal;
        padding: 20px 15px;
    }
    .header-section .header-content .logo,
    .header-section .header-content .links {
        margin:  0;
    }
    .header-section .header-content .social-links  {
        margin-left: auto;
    }
}
/* End header section  */
.landing-section {
    min-height: 85vh;
    position: relative;
}
.landing-section::before{
    content: "";
    width: 30vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #3296b0;
    z-index: -1;
}

@media (max-width: 992px) {
    .landing-section::before {
        display: none;
    }
}

.landing-section .landing-content  {}
.landing-content .row {
    padding-top: 200px;
    padding-bottom: 50px;
}
@media (max-width: 992px) {
    .landing-content .row {
        padding-top: 100px;
    }
}@media (max-width: 567px) {
    .landing-content .row {
        padding-top: 60px;
    }
}
.landing-content .row .home-imgs {
}
.landing-content .row .home-imgs .home-img {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
@media (max-width: 578px) {
    .landing-content .row .home-imgs .home-img {
        height: 350px;
    }
}
.landing-content .row .home-img img {
    width: 100%;
    order: -1;
    transition: 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200%, -50%);
}

.landing-content .row .home-imgs .home-img img.active {
    transform: translate(-50%, -50%);
}
@media (max-width: 992px){
    .landing-content .row .home-img img {
        width: 80%;
    }
    .landing-content .row .home-imgs .home-img img.active {
        transform: translate(-50%, -40%);
    }
}
@media (max-width: 578px) {
    .landing-content .row .home-img img {
        width: 100%;
    }
}

.landing-content .row .drone-info {
}
.landing-content .row .drone-info {}
.landing-section .row .drone-info .item {
    padding: 10px;
    display: none;
}
.landing-content .row .drone-info .item.active {
    display: block;
}
.landing-content .row .drone-info .item h2 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.landing-content .row .drone-info .item p {
    width: 80%;
    font-size: 18px;
    color: #888;
    line-height: 1.7;}
.landing-content .row .drone-info .item > div {}
.landing-content .row .drone-info .item  {}
.landing-content .row .drone-info .moving-btn {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 20px 10px;
    margin-top: 1.5rem;
}
@media (max-width: 992px) {
    .landing-content .row .drone-info .moving-btn {
        margin-top: 0rem;
    }
}
.landing-content .row .drone-info .moving-btn span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: 2px solid #489;
    border: 2px solid white;
    background-color: transparent;
    transition: 0.5s;
}
.landing-content .row .drone-info .moving-btn span.active,
.landing-content .row .drone-info .moving-btn span:hover {
    background-color:  #489;
}
/* End Heor Section */
/* Start Feature Section  */
.feature-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.feature-section .feature-content h2 {
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.feature-content p {
    text-align: center;
    color: #888;
    font-size: 16px;
    line-height: 1.8;
}

.feature-content .row {}

.feature-content .row>div {
    padding-top: 20px;
    padding-bottom: 20px;
}

.feature-content .row .content {
    padding: 20px 20px;
    box-shadow: 0 0 16px #0000000f;
    border-radius: 20px;
}

.feature-content .row>div h5 {
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
}

.feature-content .row>div p {}

/* End Feature Section  */

/* STart drone-detail-section  */
.drone-detail-section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #0f95b6;
}

.drone-detail-section .container {
    padding: 0;
}

.drone-detail-section .slider-container {
    overflow: hidden;
}

.silder-wrapper {
    width: 100%;
    height: 100%;
}

.drone-detail-section .slider-title {
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: white;
}

.drone-detail-section .slider-description {
    font-size: 16px;
    line-height: 1.7;
    width: 90%;
    text-align: center;
    color: #eee;
    margin-bottom: 3rem;
    margin-left: auto;margin-right: auto;
}

.drone-detail-section .row .img img {
    width: 100%;
}
.drone-detail-section .row .list-product {
    padding: 0 20px;
}
.drone-detail-section .row .list-product-item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    color: white;
    padding: 8px 0;
}

.drone-detail-section .row .list-product-item .list-product-title {
    min-width: 150px;
    font-weight: bold;
    font-size: 18px;
}

.swiper-button-next,
.swiper-button-prev {
    svg {
        color: white;
    }
}
.swiper-navigation-icon {
    display: none;
}
/* End drone-detail-section  */
